-r requirements-prod.txt

coverage==7.13.0
pytest==9.0.2
pytest-django==4.11.1
pytest-sugar==1.1.1
django_coverage_plugin==3.2.0

ruff==0.14.8
mypy==1.19.0
mypy_extensions==1.1.0
pre_commit==4.5.0
djlint==1.36.4

ipdb==0.13.13
ipython==9.8.0
factory_boy==3.3.3
Faker==38.2.0

django-debug-toolbar==6.1.0
django-extensions==4.1
django-stubs==5.2.8
django-stubs-ext==5.2.8

Sphinx==9.0.4
sphinx-autobuild==2025.8.25
