{% extends 'kiccd_app/vertical.html' %}

{% load static %}

{% block title %}ICHP Harvest Data{% endblock title %}
 
{% block extra_css %}
<link href="https://cdn.datatables.net/datetime/1.6.2/css/dataTables.dateTime.css" rel="stylesheet" integrity="sha384-7gVhgCBvVkFm8CjELsmoaaDJyWITKmo5b7imOimmD95IVzEyhS92YJ3jlcHfGc1l" crossorigin="anonymous">
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
 
{% block page_title %}
{% include 'kiccd_app/partials/topbar.html' with topbarTitle='ICHP Harvest Data' %}
{% endblock page_title %}

{% block page_content %}
<div class="row container-fluid mx-auto py-2">
    <div class="card col-12">
        <div class="card-header border-bottom border-dashed d-flex justify-content-between align-items-center mb-0">
            <h5 class="d-none d-md-block text-muted mb-0">All ICHP Catch & Harvest summaries as reported by commercial fishers.</h5>
            <h4 class="d-block d-md-none mb-0 text-center">ICHP Catch & Harvest Data</h4>
            <div class="d-flex gap-2">
                <a href="{% url 'kiccd_app:ichp_event_set_create' %}" class="btn btn-sm btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<em>Add Info about a New <br> ICHP Fisher Report</em>"><i class="ti ti-copy-plus align-middle me-1 fs-18"></i> REPORT</a>
                <a href="{% url 'kiccd_app:ichp_catch_batch_create' %}" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<em>Add new Catch Data <br> to an Existing Report</em>"><i class="ti ti-copy-plus align-middle me-1 fs-18"></i> CATCH</a>
                <form method="post" action="{% url 'kiccd_app:refresh_ichpcatch_means' %}" class="m-0">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<em>Re-calculate Subsample Lengths & Weights</em>"><i class="ti ti-refresh-dot align-middle me-1 fs-18"></i> SS MEANS</button>
                </form>
            </div>
        </div>

        <div class="card-body">
            <table id="basic-datatable" class="table table-striped dt-responsive nowrap table-striped w-100">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Fisher</th>
                        <th>Waterbody</th>
                        <th>Site</th>
                        <th>Net #</th>
                        <th>Species</th>
                        <th>C&R Cnt</th>
                        <th>Harvest Cnt</th>
                        <th>Total Wgt (lb)</th>
                        <th>Mean TL (in)</th>
                        <th>Mean Wgt (g)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for catch in catches %}
                    <tr>
                        <td>{{ catch.event.datez }}</td>
                        <td>{{ catch.event.fisher.lookup }}</td>
                        <td>{{ catch.event.basin }}</td>
                        <td>{{ catch.event.site }}</td>
                        <td>{{ catch.event.net_haul }}</td>
                        <td>{{ catch.species.abbrev }}</td>
                        <td>{{ catch.rel_healthy_cnt|default:0|add:catch.rel_moribund_cnt|default:0 }}</td>
                        <td>{{ catch.harvest_cnt|default:0 }}</td>
                        <td>{{ catch.reported_weight_lb }}</td>
                        <td>{{ catch.reported_mean_length_in }}</td>
                        <td>{{ catch.calc_mean_weight_g }}</td>
                    </tr>
                    {% empty %}
                        <tr><td colspan="11" class="text-center">No harvest records found.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock page_content %}

{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha384-+mbV2IY1Zk/X1p/nWllGySJSUN8uMs+gUAN10Or95UBH0fpj6GfKgPmgC5EXieXG" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.js" integrity="sha384-mFSRsfjTuXtihSLc/J0LxrFE1H9WRRllwGM6pxxyiYACkVdxRG82d3DQVlq8yXZM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/datetime/1.6.2/js/dataTables.dateTime.js" integrity="sha384-I0rL1eK8/4jZ1njbsVwTibN/q+IvWmYk6aLQ9TvNAUUbFNps5B5fh1Z2/H5uWERY" crossorigin="anonymous"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
$(document).ready(function () {
    "use strict";

    // Default Datatable
    $('#basic-datatable').DataTable({
        order: [],
        keys: false,
        fixedHeader: true,
        pageLength: 50,
        layout: {
        topStart: {pageLength: {menu: [50, 100, 150, 200]}},
        topEnd: {search: {placeholder: 'Search'}},
        bottomStart: 'info',
        bottomEnd: 'paging',
        bottom: {buttons: ['copy', 'csv', 'pdf']}  
        },      
        "language": {
            "paginate": {
                "previous": "<i class='ti ti-chevron-left'>",
                "next": "<i class='ti ti-chevron-right'>"
            }
        },
    
        "drawCallback": function () {
            $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
        }
    });
});
</script>
{% endblock extra_javascript %}