{% extends 'kiccd_app/vertical.html' %}

{% load static %}

{% block extra_css %}
<link href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.min.css" rel="stylesheet" integrity="sha384-zmMNeKbOwzvUmxN8Z/VoYM+i+cwyC14+U9lq4+ZL0Ro7p1GMoh8uq8/HvIBgnh9+" crossorigin="anonymous">
<link href="https://cdn.datatables.net/buttons/3.2.5/css/buttons.bootstrap5.min.css" rel="stylesheet" integrity="sha384-HI7qMf1hznIZrIds5RatHHAOCn/7uGgsYQCanIyCeJDebKwCnoWnm4cB9SH+Z/ab" crossorigin="anonymous">
<link href="https://cdn.datatables.net/fixedheader/4.0.5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" integrity="sha384-lS0jkAZhyUhxNq2ANCXWpF/ARfdfXrUvgWDYZjKbWIylNAm5rktrh7EQWnvYvX3j" crossorigin="anonymous">
<link href="https://cdn.datatables.net/keytable/2.12.2/css/keyTable.bootstrap5.min.css" rel="stylesheet" integrity="sha384-C74MMsrNjJFzEP9tqBu5EZZ2hLFMV161uHLM9pF5e5hp14W54ZRO02n4b6IAAAFK" crossorigin="anonymous">
<link href="https://cdn.datatables.net/responsive/3.0.7/css/responsive.bootstrap5.min.css" rel="stylesheet" integrity="sha384-seyUnB//1QOFEqox9uI7YTLBgz9jBwFRqZvsEPFrTw6NAsFEo70nhBWsQfODqiYA" crossorigin="anonymous">
{% endblock extra_css %}

{% block title %}Lookup Collections{% endblock title %}

{% block page_title %}
{% include 'kiccd_app/partials/topbar.html' with topbarTitle='Partners | Site Types | States | Counties' %}
{% endblock page_title %}

{% block page_content %}

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="card w-100 w-sm-100 w-md-100 flex-grow-1">
                <div class="card-header border-bottom border-dashed mb-0">
                    <h4 class="mb-0 text-center align-middle">Basin Partners</h4>
                </div>
            <div class="card-body ps-2 pe-2 pt-0 pb-2 flex-grow-1">
                <table id="partner-datatable" class="table table-striped nowrap table-striped w-100">
                        <thead>
                            <tr><th>ID</th><th>Code</th><th>Name</th><th>Type</th><th>Level</th></tr>
                        </thead>
                        <tbody>
                        {% for partner in partners %}
                            <tr>
                                <td>{{ partner.partner_id }}</td>
                                <td>{{ partner.abbrev }}</td>
                                <td>{{ partner.name }}</td>
                                <td>{{ partner.type }}</td>
                                <td>{{ partner.level }}</td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="5">No partners found.</td></tr>
                        {% endfor %}
                        </tbody>
                </table>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div> <!-- end row-->


<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
        <div class="card w-100 w-sm-100 w-md-100 flex-grow-1">
            <div class="card-header border-bottom border-dashed mb-0">
                <h4 class="mb-0 text-center align-middle">Site Habitat Types</h4>
            </div>
            <div class="card-body ps-2 pe-2 pt-0 pb-2 flex-grow-1">

                <table id="type-datatable" class="table table-striped nowrap table-striped w-100">
                        <thead>
                            <tr><th>ID</th><th>Name</th><th>Abbrev</th></tr>
                        </thead>
                        <tbody>
                        {% for st in site_types %}
                            <tr>
                                <td>{{ st.site_type_id }}</td>
                                <td>{{ st.name }}</td>
                                <td>{{ st.abbrev }}</td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="3">No site types found.</td></tr>
                        {% endfor %}
                        </tbody>
                </table>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
        <div class="card w-100 w-sm-100 w-md-100 flex-grow-1">
            <div class="card-header border-bottom border-dashed mb-0">
                <h4 class="mb-0 text-center align-middle">ORB States</h4>
            </div>
            <div class="card-body ps-2 pe-2 pt-0 pb-2 flex-grow-1">

                <table id="state-datatable" class="table table-striped nowrap table-striped w-100">
                        <thead>
                            <tr><th>ID</th><th>Name</th><th>Abbrev</th></tr>
                        </thead>
                        <tbody>
                        {% for state in states %}
                            <tr>
                                <td>{{ state.state_id }}</td>
                                <td>{{ state.name }}</td>
                                <td>{{ state.abbrev }}</td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="3">No states found.</td></tr>
                        {% endfor %}
                        </tbody>
                </table>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div> <!-- end row-->


<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="card w-100 w-sm-100 w-md-100 flex-grow-1">
                <div class="card-header border-bottom border-dashed mb-0">
                    <h4 class="mb-0 text-center align-middle">ORB Counties</h4>
                </div>
            <div class="card-body ps-2 pe-2 pt-0 pb-2 flex-grow-1">

                <table id="county-datatable" class="table table-striped nowrap table-striped w-100">
                    <thead>
                        <tr><th>ID</th><th>Name</th><th>State</th></tr>
                    </thead>
                    <tbody>
                    {% for county in counties %}
                        <tr>
                            <td>{{ county.county_id }}</td>
                            <td>{{ county.name }}</td>
                            <td>{{ county.state }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="3">No counties found.</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div> <!-- end row-->

{% endblock page_content %}


{% block extra_javascript %}

<script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha384-+mbV2IY1Zk/X1p/nWllGySJSUN8uMs+gUAN10Or95UBH0fpj6GfKgPmgC5EXieXG" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.js" integrity="sha384-mFSRsfjTuXtihSLc/J0LxrFE1H9WRRllwGM6pxxyiYACkVdxRG82d3DQVlq8yXZM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/datetime/1.6.2/js/dataTables.dateTime.js" integrity="sha384-I0rL1eK8/4jZ1njbsVwTibN/q+IvWmYk6aLQ9TvNAUUbFNps5B5fh1Z2/H5uWERY" crossorigin="anonymous"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
$(document).ready(function () {
    "use strict";
    
    // Partners Datatable
    $('#partner-datatable').DataTable({
        keys: true,
        scrollY: '500px',
        scrollCollapse: true,
        scrollX: true,
        pageLength: 100,
        lengthChange: false,
        paging: false,
        ordering: true,
        layout: {
            topStart: false,
            topEnd: 'search',
            bottomStart: 'info',
            bottomEnd: {buttons: ['copy', 'csv']}  
        },
        "language": {
            "paginate": {
                "previous": "<i class='ti ti-chevron-left'>",
                "next": "<i class='ti ti-chevron-right'>"
            },
            "search": "",
            "searchPlaceholder": "Filter...",
            "info": "_END_ Partners",
            "zeroRecords": "No matching partners...",
            "emptyTable": "No partners available",
            "loadingRecords": "Loading partners...",
            "infoFiltered": "(filtered from _MAX_)",
            "infoEmpty": "0 Partners",
            "processing": "Processing partner records..."
        },
        "drawCallback": function () {
            $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
        }
    });
    
    // Type Datatable
    $('#type-datatable').DataTable({
        keys: true,
        scrollY: '500px',
        scrollCollapse: true,
        scrollX: true,
        pageLength: 100,
        lengthChange: false,
        paging: false,
        ordering: true,
        layout: {
            topStart: false,
            topEnd: false,
            bottomStart: 'info',
            bottomEnd: {buttons: ['copy', 'csv']}  
        },
        "language": {
            "paginate": {
                "previous": "<i class='ti ti-chevron-left'>",
                "next": "<i class='ti ti-chevron-right'>"
            },
            "search": "",
            "searchPlaceholder": "Filter...",
            "info": "_END_ Types",
            "zeroRecords": "No matching types...",
            "emptyTable": "No types available",
            "loadingRecords": "Loading types...",
            "infoFiltered": "(filtered from _MAX_)",
            "infoEmpty": "0 Types",
            "processing": "Processing type records..."
        },
        "drawCallback": function () {
            $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
        }
    });
    
    // State Datatable
    $('#state-datatable').DataTable({
        keys: true,
        scrollY: '500px',
        scrollCollapse: true,
        scrollX: true,
        pageLength: 100,
        lengthChange: false,
        paging: false,
        ordering: true,
        layout: {
            topStart: false,
            topEnd: false,
            bottomStart: 'info',
            bottomEnd: {buttons: ['copy', 'csv']}  
        },
        "language": {
            "paginate": {
                "previous": "<i class='ti ti-chevron-left'>",
                "next": "<i class='ti ti-chevron-right'>"
            },
            "search": "",
            "searchPlaceholder": "Filter...",
            "info": "_END_ States",
            "zeroRecords": "No matching states...",
            "emptyTable": "No states available",
            "loadingRecords": "Loading states...",
            "infoFiltered": "(filtered from _MAX_)",
            "infoEmpty": "0 States",
            "processing": "Processing state records..."
        },
        "drawCallback": function () {
            $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
        }
    });
        
    // County Datatable
    $('#county-datatable').DataTable({
        keys: true,
        scrollY: '500px',
        scrollCollapse: true,
        scrollX: true,
        pageLength: 1000,
        lengthChange: false,
        paging: false,
        ordering: true,
        layout: {
            topStart: false,
            topEnd: 'search',
            bottomStart: 'info',
            bottomEnd: {buttons: ['copy', 'csv']}  
        },
        "language": {
            "paginate": {
                "previous": "<i class='ti ti-chevron-left'>",
                "next": "<i class='ti ti-chevron-right'>"
            },
            "search": "",
            "searchPlaceholder": "Filter...",
            "info": "_END_ Counties",
            "zeroRecords": "No matching counties...",
            "emptyTable": "No counties available",
            "loadingRecords": "Loading counties...",
            "infoFiltered": "(filtered from _MAX_)",
            "infoEmpty": "0 Counties",
            "processing": "Processing county records..."
        },
        "drawCallback": function () {
            $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
        }
    });
    
    
    table.buttons().container().appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    $(".dataTables_length select").addClass('form-select form-select-sm');
    $(".dataTables_length label").addClass('form-label');
});
</script>

{% endblock extra_javascript %}
