{% extends 'kiccd_app/vertical.html' %}

{% load static %}

{% block title %}Agency Observers{% endblock title %}

{% block extra_css %}
<link href="https://cdn.datatables.net/datetime/1.6.2/css/dataTables.dateTime.css" rel="stylesheet" integrity="sha384-7gVhgCBvVkFm8CjELsmoaaDJyWITKmo5b7imOimmD95IVzEyhS92YJ3jlcHfGc1l" crossorigin="anonymous">
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock extra_css %}

{% block page_title %}
{% include 'kiccd_app/partials/topbar.html' with topbarTitle='Agency Observers' %}
{% endblock page_title %}

{% block page_content %}
 
<div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
    <div class="card w-100 w-sm-100 w-md-100 flex-grow-1">
        <div class="card-header d-block d-md-none border-bottom border-dashed mb-0">
            <h3 class="d-block d-md-none  mb-0 text-center">Agency Observers</h3>
        </div>
        <div class="card-body ps-2 pe-2 pt-0 pb-2 flex-grow-1">
            <table id="basic-datatable" class="table table-striped nowrap table-striped w-100">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Agency</th>
                    </tr>
                </thead>

                <tbody>
                {% for observer in observers %}
                    <tr>
                        <td>{{ observer.observer_id }}</td>
                        <td>{{ observer.name }}</td>
                        <td>{{ observer.agency }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No observers found.</td>
                    </tr>
                {% endfor %}
                </tbody>
					
            </table>
        </div> <!-- end card body-->
    </div> <!-- end card -->
</div> <!-- end column-->


{% endblock page_content %}

{% block extra_javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha384-+mbV2IY1Zk/X1p/nWllGySJSUN8uMs+gUAN10Or95UBH0fpj6GfKgPmgC5EXieXG" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.js" integrity="sha384-mFSRsfjTuXtihSLc/J0LxrFE1H9WRRllwGM6pxxyiYACkVdxRG82d3DQVlq8yXZM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/datetime/1.6.2/js/dataTables.dateTime.js" integrity="sha384-I0rL1eK8/4jZ1njbsVwTibN/q+IvWmYk6aLQ9TvNAUUbFNps5B5fh1Z2/H5uWERY" crossorigin="anonymous"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>

<script>
$(document).ready(function () {
    "use strict";

    // Observers Datatable
    $('#basic-datatable').DataTable({
        keys: true,
        scrollY: '525px',
        scrollCollapse: true,
        // fixedHeader: true,
        scrollX: true,
        pageLength: 100,
		lengthChange: false,
		paging: false,
		ordering: true,
         layout: {
        topStart: 'search',
        topEnd: function () {
            return $('<a>', {
                href: "{% url 'kiccd_app:observer_create' %}",
                class: 'btn btn-sm btn-success',
                'data-bs-toggle': 'tooltip',
                'data-bs-placement': 'top',
                'data-bs-html': 'true',
                'data-bs-title': '<em>Add a New Observer</em>'
            }).append('<i class="ti ti-copy-plus align-middle me-1 fs-18"></i> NEW')[0];
        },
        bottomStart: 'info',
        bottomEnd: {buttons: ['copy', 'csv']}
        },      
        "language": {
            "paginate": {
                "previous": "<i class='ti ti-chevron-left'>",
                "next": "<i class='ti ti-chevron-right'>"
            },
            "search": "",
            "searchPlaceholder": "Filter...",
            "info": "_END_ Observers",
            "zeroRecords": "No matching observers...",
            "emptyTable": "No observers available",
            "loadingRecords": "Loading observers...",
            "infoFiltered": "(filtered from _MAX_)",
            "infoEmpty": "0 Observers",
            "processing": "Processing observer records..."
        },
    
        "drawCallback": function () {
            $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
        }
    });
    
    $('#basic-datatable').DataTable().buttons().container().appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    $(".dataTables_length select").addClass('form-select form-select-sm');
    $(".dataTables_length label").addClass('form-label');
});
</script>

{% endblock extra_javascript %}