{% extends 'kiccd_app/vertical.html' %}

{% load static %}

{% block title %}Invasive Carp Subsamples{% endblock title %}

{% block extra_css %}
<link href="https://cdn.datatables.net/datetime/1.6.2/css/dataTables.dateTime.css" rel="stylesheet" integrity="sha384-7gVhgCBvVkFm8CjELsmoaaDJyWITKmo5b7imOimmD95IVzEyhS92YJ3jlcHfGc1l" crossorigin="anonymous">
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block page_title %}
{% include 'kiccd_app/partials/topbar.html' with topbarTitle='IC Subsample Data' %}
{% endblock page_title %}

{% block page_content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div>
                        {% comment %} <h4 class="card-title mb-1">CF Catch Records</h4> {% endcomment %}
                        <p class="text-muted mb-0">Length/Weight data for Invasive Carp subsampled during Contract fishing & ICHP Ride-Along efforts.</p>
                    </div>
                    <a href="{% url 'kiccd_app:subsample_bulk_create' %}" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<em>Add New<br>Subsample Data</em>"><i class="ri ri-add-circle-line align-middle me-1 fs-18"></i>Add Subsamples</a>
                </div>

                <table id="basic-datatable" class="table table-striped dt-responsive nowrap table-striped w-100">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Fisher</th>
                                <th>Basin</th>
                                <th>Pool</th>
                                <th>Species</th>
                                <th>Length (mm)</th>
                                <th>Weight (g)</th>
                                <th>Sex</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sub in subs %}
                                <tr>
                                    <td>{{ sub.datez }}</td>
                                    <td>{{ sub.fisher }}</td>
                                    <td>{{ sub.basin }}</td>
                                    <td>{{ sub.pool }}</td>
                                    <td>{{ sub.spp.abbrev }}</td>
                                    <td>{% if sub.length_mm %}{{ sub.length_mm }}{% else %}&mdash;{% endif %}</td>
                                    <td>{% if sub.weight_g %}{{ sub.weight_g }}{% else %}&mdash;{% endif %}</td>
                                    <td>{{ sub.sex.abbrev }}</td>
                                </tr>
                            {% empty %}
                                <tr><td colspan="8" class="text-center">No subsample data found.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if is_paginated %}
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <small class="text-muted">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</small>
                        <nav>
                            <ul class="pagination mb-0">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                {% endif %}
                                <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }}</span></li>
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}

{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha384-+mbV2IY1Zk/X1p/nWllGySJSUN8uMs+gUAN10Or95UBH0fpj6GfKgPmgC5EXieXG" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.js" integrity="sha384-mFSRsfjTuXtihSLc/J0LxrFE1H9WRRllwGM6pxxyiYACkVdxRG82d3DQVlq8yXZM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/datetime/1.6.2/js/dataTables.dateTime.js" integrity="sha384-I0rL1eK8/4jZ1njbsVwTibN/q+IvWmYk6aLQ9TvNAUUbFNps5B5fh1Z2/H5uWERY" crossorigin="anonymous"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/icevent_tables.js' %}"></script>
{% endblock extra_javascript %}