{% extends "kiccd_app/vertical.html" %}
 
{% load static %}

{% block title %}Error 404{% endblock title %}

{% block page_content %}
 
<div class="row g-0 justify-content-center m-3 mt-5">
    <div class="col-xxl-6 col-lg-6 col-md-6">
        <a href="/" class="auth-brand d-flex justify-content-center mb-2 mt-5">
            <img src="{% static 'images/logo-dark.png' %}" alt="dark logo" height="52" class="logo-dark">
            <img src="{% static 'images/logo.png' %}" alt="logo light" height="52" class="logo-light">
        </a>

        <div class="card overflow-hidden text-center p-xxl-4 p-3 mb-5">

            <div class="text-center mb-3">
                <h1 class="text-error">404</h1>
                <h3 class="mt-3 mb-2">Page not Found</h3>
                <p class="text-muted mb-4">It looks like you may have taken a wrong turn. <br><br> 
                    Check your connection and return to the homepage.</p>
                <a href="/" class="btn btn-danger">
                    <i class="ti ti-home fs-16 me-1"></i> Back to Home
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock page_content %}
